pg_user='** add your postgres username here **'
pg_password='** add your postgres password here **'
server_ip_address='12.34.56.789'
ssh_username='** add your ssh username here **'
ssh_private_key_path='/home/<username>/.ssh/id_rsa'
ssh_private_key_password='** add your ssh key password here **'
azure_api_key='** add your azure api key here **'
